#root {
  min-height: 100vh;
}

/* === Texte Markdown : Réflexion / Résolution / Paroisse === */

/* Le wrapper */
.bodyText {
  line-height: 1.8;
}

/* Paragraphes Markdown */
.bodyText p {
  line-height: 1.8;
  margin: 0 0 1em 0;
}

/* Listes */
.bodyText ul,
.bodyText ol {
  margin: 0 0 1em 1.2em;
}

.bodyText li {
  line-height: 1.8;
  margin-bottom: 0.5em;
}

/* Dernier élément sans marge basse */
.bodyText p:last-child,
.bodyText li:last-child {
  margin-bottom: 0;
}
